
header #titulo-principal {
  font-weight: bold;
}

a {
    text-decoration: none;
    color:inherit
}

header .a {
  font-weight: bold;
}

aside img, {
  margin: 3px;
}

.container-menu>img {
  width: 60px;
  height: 60px;
}

.container-menu p {
  font-size: 10pt;
}

.pratos p {
  max-width: 300px;
  margin-top: 3px;
}

.container-footer p {
  margin: 2px;
}