<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="layout.css">
    <title>Hamburgueria</title>
</head>
<body>
    <header>
        <div id="titulo-principal">Cardápio</div>
        <a href="#">Inicio</a>
    </header>
    
    <nav>
        <div class="container-menu">Burguer</div>
        <div class="container-menu">Hot-Dog</div>
        <div class="container-menu">Fritas</div>
        <div class="container-menu">Trios</div>
    </nav>

    <main>
        <div class="cardapio">Burguer</div>
        <div class="cardapio">Hot-Dog</div>
        <div class="cardapio">Fritas</div>
        <div class="cardapio">Trios</div>
    </main>
    
    <aside>Relacionado</aside>
    
    <footer>Rodapé</footer>
</body>
</html>
