<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="layout.css">
    <link type="text/css" rel="stylesheet" href="conteudo.css">
    <title>Hamburgueria</title>
</head>
<body>
    <header>
        <div id="titulo-principal">Cardápio</div>
        <a href="#">Inicio</a>
    </header>
    
    <nav>
        <div class="container-menu">
          <img src="img-main.png" alt="burguer">
          <p>Hamburguers</p>
        </div>
        <div class="container-menu">
          <img src="img-hotdog.png" alt="burguer">
          <p>Hot-Dogs</p>          
        </div>
        <div class="container-menu">
          <img src="img-fritas.png" alt="burguer">
          <p>Fritas</p>
        </div>
        <div class="container-menu">
          <img src="img-trio.png" alt="burguer">
          <p>Trios</p>
        </div>
    </nav>

    <main>
        <div class="cardapio">
          <h3>Burguer</h3>
        
           <div class="pratos">
             <div class="item">
               <h4>Item</h4>
               <h4>R$ 19.99</h4>
             </div>
            <p>ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes</p>
           </div>
           
           <div class="pratos">
             <div class="item">
               <h4>Item</h4>
               <h4>R$ 19.99</h4>
             </div>
            <p>ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes</p>
           </div>
        </div>
        
        <div class="cardapio">
          <h3>Hot-Dog</h3>
        
           <div class="pratos">
             <div class="item">
               <h4>Item</h4>
               <h4>R$ 19.99</h4>
             </div>
            <p>ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes</p>
           </div>
           
           <div class="pratos">
             <div class="item">
               <h4>Item</h4>
               <h4>R$ 19.99</h4>
             </div>
            <p>ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes</p>
           </div>
        </div>
        
        <div class="cardapio">
          <h3>Fritas</h3>
        
           <div class="pratos">
             <div class="item">
               <h4>Item</h4>
               <h4>R$ 19.99</h4>
             </div>
            <p>ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes</p>
           </div>
           
           <div class="pratos">
             <div class="item">
               <h4>Item</h4>
               <h4>R$ 19.99</h4>
             </div>
            <p>ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes</p>
           </div>
        </div>
        
        <div class="cardapio">
          <h3>Trio</h3>
        
           <div class="pratos">
             <div class="item">
               <h4>Item</h4>
               <h4>R$ 19.99</h4>
             </div>
            <p>ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes</p>
           </div>
           
           <div class="pratos">
             <div class="item">
               <h4>Item</h4>
               <h4>R$ 19.99</h4>
             </div>
            <p>ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes, ingredientes</p>
           </div>
        </div>
    </main>
    
    <aside>
      <div id="promocoes">Promoções</div>
    </aside>
    
    <footer>
      <div class="container-footer" id="informacoes">Informações</div>
      <div class="container-footer" id="instagram">instagram</div>
      <div class="container-footer" id="avisos">avisos</div>
    </footer>
</body>
</html>
