* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:inherit
}
body {
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    flex-wrap: wrap;
}

header,nav, main, aside, footer {
    margin:3px;
    display:flex;
    background: #a1a1a1
}

header {
    flex: 1 1 100vw;
    height: 50px;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

#titulo-principal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #c2c2c2;
    height: 50px;
}

header a {
    display: flex;
    margin-left: auto;
    background: #c2c2c2;
}

nav {
    justify-content: space-around;
    align-items: center;
    flex: 1 1 100vw;

}

.container-menu {
    background: #c2c2c2;
    width: 80px;
    height: 80px;
    margin: 5px 0;
}



main {
    flex: 20 1 500px;
    flex-wrap: wrap;
}

.cardapio {
    background: #c2c2c2;
    flex: 1 1 100vw;
    margin: 5px;
}


aside {
    flex: 1 1 200px;
}

footer {
    flex: 1 1 100vw;
    height: 50px;
}

@media only screen and (min-width: 838px){
    nav {
        flex: 1 1 90px;
        flex-direction: column;
    }
    
    .container-menu {
        margin: 5px;
    }
}

@media only screen and (max-width: 717px){
    header{
        order: 0;
    }

      aside {
        order: 2;
    }

    nav{
        order:1;
    }
    main {
        order: 3;
    }

    footer {
        order: 4;
    }
}